<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Survey</title>

    <!-- Adapt view for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Import css file -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <div class="adjust-center">

        <h1 class="form-group form-group-title"> <%= question %> </h1>

        <form id="formSurvey" method="POST" action="/survey/<%= id %>">

          <input  type="hidden" name="question_name" value="<%= question %>">
          <% for(let i = 0; i < answers.length; i++) { %>
            <input type="hidden" name="<%= i %>" value="<%= answersID[i] %>">
          <tr>
            <br>
            <%= answers[i] %>
            <br>
              <select class="select-class" name="select_name<%= id %>" id="select<%= id %>">
                <% for(let i = 1; i <= answers.length; i++)  { %>
                <option value="<%= i %>"> <%= i %> </option>
                <% } %>
              </select>
            <br>
          </tr>

          <% } %>
          <div class="buttons-margin-down">
            <button type="submit" class="btn btn-secondary btn-title" id="sendSurvey">Send Answers</button>
          </div>

        </form>

      </div>
    </main>

    <%- include('partials/_footer') %>
    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/survey_app.js"></script>

  </body>
</html>
